/* Setting the default styling to zero */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #82486C;
}

/* Defining the style of form. */
.slamHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #e6e0e0;
    padding: 1em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heading {
    font-size: 48px;
    text-align: center;
}

form {
    height: 100%;
    width: 100%;
}

/* Styling the comonents inside form */
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 3em;
}

.row section {
    border-radius: 4px;
    box-shadow: -4px 4px 25px #82486cc4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 35vw;
    background-color: #F6B9E0;
}

.row section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
}

.row-2 section  {
    width: 85%;
    display: grid;
    grid-template-columns: auto auto;
}

.row-2 section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
}

.row-3 section {
    width: 85%;
    display: grid;
    grid-template-columns: auto auto;
}

.row-3 section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
}

.row-4 section {
    width: 85%;
    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: space-evenly ;
}

.row-4 section>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
}

/* miscelleneous styling */
input[type=file] {
    display: none;
}

.image-input {
    align-self: center;
    border: 2px dashed white;
    width: 100%;
    height: 28vh;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

label {
    font-size: larger;
}

input {
    width: 30vh;
    height: 4vh;
    background-color: #fef2f0;
    border: none;
    outline: 0;
    padding: 5px;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #82486C;
}

textarea {
    width: 35vh;
    height: 20vh;
    padding: 10px;
    max-width: auto;
}

input[type=Number]::-webkit-inner-spin-button,
input[type=Number]::-webkit-outer-spin-button {
    display: none;
}

button {
    height: 4vh;
    width: 10vw;
    font-size: larger;
    border-radius: 3px;
    border: none;
    box-shadow: 3px 3px 5px #000;
}

button:active {
    transform: translate3d(1px, 2px, 3px);
}
@media screen and (max-width: 992px ) {
    .image{
        height:120px;
    }
    .row{
        flex-direction: column;
        gap: 75px; 

    }
    button{
        height: 4vh;
        width: 20vw;
    }
    textarea{
        width: 19vh;
        height: 20vh;
        margin-bottom: 9%;
    }
    .row-3 section {
        display:flex;
        flex-direction:column;
        padding: 19%;
    }
    label{
        text-align: center;
        padding: 2%;
    }
    .row section{
        width: 75vw;
    }
    .heading {
        font-size: 35px;
        text-align: center;
    }
    .row-2 section  {
        display: flex;flex-direction: column;
    }
    .row-4 section  {
        flex-direction: column;
    }
}