@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 250vh;
    font-family: 'Lilita One', cursive;
    font-weight: lighter;
    gap: 5vh;
}

.output-container h1 {
    font-size: 84px;
    -webkit-text-stroke: 3px #fef2f0;
    color: #C64980;
}

.slam-social-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
    flex-direction: column;
}

.name-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
}

.social-holder {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 15vh;
    width: 80vw;
}

.social-holder span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    min-width: 15vw;
    gap: 10px;
    height: 10vh;
    color: #C64980;
    border-radius: 25px;

}

.social-holder span > h2 {
    font-size: 48px;
    text-shadow: 4px 4px white;
    -webkit-text-stroke: 2px white;
}

.label-info-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    text-align: center;
    min-height: 15vh;
    padding: 5px;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px #fef2f0;
}

.label-info-holder label {
    font-size: 54px;
    color: #C64980;
}

.label-info-holder p {
    font-size: 48px;
    color: rgb(0, 90, 255);
}

.output-container button:active {
    transform: translate3d(2px, 2px, 3px);
}