@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


html {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-align: center;
}

.landingPageBgImg {
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
}

.landingPageContentHolder {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projectTitle {
    font: normal 700 84px 'Gorditas';
    font-weight: 700;
    -webkit-text-stroke: 1px #130070;
    color: rgba(251, 255, 0, 0.902);
    padding: 20px;
}

.landingPageContentHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.landingPageContentHolder p {

    font-size: 72px;
    font-family: 'Lilita One', cursive;
    font-weight: lighter;
    color: #00fffb9c;
    -webkit-text-stroke: 1px #ffffff;
}

.landingPageContentHolder span {
    -webkit-text-stroke: 1px #ddff00;
    color: #ddff005c;
}

.navigateToLoginPageButton {
    height: 64px;
    width: 250px;
    font-size: 36px;
    color: blue;
    font-family: 'Lilita One', cursive;
    font-weight: 700;
    border-radius: 5px;
    background-color: #DBFF00;
    -webkit-text-stroke: 1px rgb(208, 255, 0);
}

.navigateToLoginPageButton:active {
    transform: translate3d(1px, 2px, 0px);
}

.loginContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.projectTitleInAllPages {
    align-self: flex-start;
}

.loginContentHolder {
    height: 70vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d9d9d9;
    opacity: 80%;
    position: relative;
    bottom: 10%;
    border-radius: 10px;
    font-family: 'Lilita One', cursive;
}

.loginContentHolder h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(35, 35, 180);
    text-align: center;
    -webkit-text-stroke: 0.25px #ddff00d6;
    font-size: 32px;
}

.loginContentHolder input {
    padding: 10px;
    width: 80%;
    font-weight: bolder;
    font-family: 'Litila One', cursive;
    font-size: x-large;
    border-radius: 10px;
}

.loginContentHolder div {
    width: 100%;
    margin-left: 15%;
}

.loginContentHolder div>img {
    position: relative;
    right: 35px;
    cursor: pointer;
}

.loginContentHolder button {
    height: 64px;
    width: 250px;
    font-size: 32px;
    font-weight: bolder;
    color: rgba(0, 0, 255, 0.85);
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;
    opacity: 1.5;
    background-color: #ddff00;
}

.loginContentHolder button:active {
    transform: translate3d(0.5px, 2px, 0px);
}

.loginContentHolder p {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.mainPageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10pt;
}

.navBar button {
    height: 8vh;
    width: 20vw;
    border-radius: 15px;
    margin: 0px;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Litila One', cursive;
}

.button {
    background-color: rgb(191, 255, 0);
    color: rgb(53, 7, 219);
}

.button:hover {
    background-color: rgba(29, 179, 179, 0.699);
    color: rgb(17, 255, 0);
}

.button:active {
    transform: translate3d(2px, 4px, 0);
}

#active {
    background-color: #185fc9;
    color: rgb(77, 255, 175);
    transform: translate3d(0, 2px, 0);
}

#active:hover {
    background-color: #006affcc;
    color: rgb(0, 255, 140);
}

.Username {
    font-size: 32px;
    -webkit-text-stroke: 0.005px #DBFF00;
    color: #185fc9;
}

.usernameHolder {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usernameHolder button {
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    margin: 0px;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Litila One', cursive;
    color: #185fc9;
    background-color: #74F0ED;
    margin-right: 5px;
}

.usernameHolder button:active {
    transform: translate3d(1px, 2px, 0px);
}

.componentHolder {
    background-color: rgba(255, 255, 255, 0.641);
    min-height: 50vh;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.templateHolder {
    text-align: center;
    font-size: xx-large;
    color: #0d00ff;
    -webkit-text-stroke: 2px #eeff00;
}

.gridContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.grid-book-element {
    background-image: url("./components/assets/bookBg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    background-repeat: no-repeat;
    height: 25vh;
    width: 20vh;
    background-color: rgba(8, 8, 161, 0.327);
    border: 2px solid #ddff00;
    padding: 10px;
    color: #0d00ff;
    -webkit-text-stroke: #74F0ED 0.5px;
    border-radius: 10px;
}

.grid-book-element img {
    border-radius: 20px;
}

.grid-book-element:hover {
    border: 2px solid #0d00ff;
}

.ImageHolder {
    height: 20vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.sendToFriendsButton {
    align-self: center;
    height: 6vh;
    width: 30vw;
    border-radius: 10px;
    background-color: rgba(210, 255, 64, 0.811);
    text-align: center;
    font-size: large;
    padding: 5px;
    color: blue;
    transform: translate3d(-1px, -2px, 0px);
    font-weight: 600;
}

.sendToFriendsButton:active {
    transform: translate3d(1px, 2px, 0);
}

.sendToFriendsButton:hover {
    background-color: #DBFF00;
    color: blue;
}

footer {
    align-self: center;
    height: 5vh;
    position: absolute;
    bottom: 0;
    color: rgb(37, 0, 105);
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer h3 {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerNavigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    width: 10%;
    height: 5vh;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


button:disabled {
    background-color: rgba(246, 255, 0, 0.799);
    color: #185fc9;
}

/* Responsiveness */

@media screen and (max-width: 700px) {

    html {
        background-image: url("./components/assets/LoginBG.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100%;
        background-color: black;
    }

    body {
        min-height: 100%;
        width: 100%;
    }

    .landingPageContentHolder h1 {
        font: normal 700 xx-large 'Gorditas';
        -webkit-text-stroke: 1px #DBFF00;
        color: darkblue;
    }

    .landingPageContentHolder p {
        font-size: xx-large;
        font-family: 'Lilita One', cursive;
        font-weight: 400;
        color: transparent;
        -webkit-text-stroke: 2px #74F0ED;
    }

    .navigateToLoginPageButton {
        width: 50vw;
        height: 6vh;
        font-size: 24pt;
        font-family: 'Lilita One', cursive;
    }

    .projectTitleInAllPages {
        align-self: center;
        font-size: xx-large;
        margin-top: 5%;
        -webkit-text-stroke: 1px #DBFF00;
        color: darkblue;
    }

    .landingPageBgImg {
        display: none;
    }

    .loginContentHolder {
        height: 60vh;
        width: 80%;
        margin-top: 20%;
    }

    .loginContainer {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .loginContentHolder h1 {
        font-size: xx-large;
    }

    .loginContentHolder button {
        height: 5vh;
        max-width: 75%;
        font-size: larger;
    }

    .loginContentHolder input {
        height: 3vh;
        max-width: 75%;
        font-size: larger;
    }

    .mainPageContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .navBar {
        min-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navBar button {
        height: 4vh;
        width: 30%;
    }

    .navBar button:hover {
        transform: none;
    }

    .Username {
        font-size: 24px;
    }

    .usernameHolder {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .usernameHolder button {
        width: 25%;
        height: 4vh;
    }

    .componentHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 55vh;
    }

    .gridContainer {
        min-height: 100%;
        display: flex;
        margin-top: 25px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5vh;
    }

    .grid-book-element {
        width: 20vh;
        height: 25vh;
    }

    .sendToFriendsButton {
        width: 80%;
    }

    footer {
        font-size: 18px;
        position: fixed;
        background-color: #185fc9;
        color: white;
    }

    footer h3 {
        font-size: large;
    }

    .footerNavigation {
        width: 40%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1073px) {
    .gridContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5vh;
    }
}